.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    text-align: center;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;

    /* for firefox dotted links */
    outline: none;

    // CHANGE FOR <button> TAG
    border: none;
    cursor: pointer;
  }

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }  
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);

    /* firefox dotted inner */
    &::-moz-focus-inner {
      border: none;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark-1;
    
    &::after {
      background-color: $color-white;
    }
  }
  
  &--green {
    background-color: $color-primary;
    color: $color-white;
    
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  
  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;

    /* for firefox dotted links */
    outline: none;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}