.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .4);
  }

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;

    @include respond(tab-land) {
      width: 90%;
      display: block;
    }

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-land) {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      padding: 4rem 2rem 2rem 2rem;
    }
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      width: 100%;
      display: block;
      padding: 0 2rem 4rem 2rem;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      width: 49%;
      display: inline-block;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(tab-land) {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      column-count: 1;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark-1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;

      @include respond(tab-land) {
        top: 1.5rem;
        right: 1.5rem;
        font-size: 3rem;
      }
    }

    &:hover {
      color: $color-primary;
    }
  }
}